<div class="max-w-5xl mx-auto px-4 sm:px-6 lg:px-8 mt-4 sm:mt-8 print-hidden">
  <div class="px-4 py-5 sm:p-6">
    <p class="text-base text-center leading-6 text-white font-semibold tracking-wide uppercase font-head transform -rotate-4 sm:text-3xl">Create Your Own</p>
    <h1 class="mt-4 mb-8 text-6xl text-center leading-8 font-extrabold tracking-tight uppercase font-head transform -rotate-4 text-red sm:mt-6 sm:text-7xl">FINAL GIRL</h1>  
  </div>
</div>