<form class="z-20 card_name" data-target="data.form" data-action="submit->data#submit">
  <input data-target="data.name" data-action="keyup->data#syncName" type="text" class="bg-transparent font-head text-white text-5xl uppercase focus:outline-none ml-2 print:text-3xl" value="Laurie">
</form>